body {
    background-image: url(nycskyline.jpg);
    font-family: "Times New Roman", Times, serif;
}

#content {
     margin-left: 20px;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
#postform{
    text-align: center;
}
#based{
    text-align: center;
    font-size: 100px;
    font-style: oblique;
}
.card{
    max-width:800px;
    margin-top: 15px;
    margin-left:auto;
    margin-right: auto;

}
